<h1 ><%= @client["company"] %></h1>
<p>
  <%= @client %>
</p>

<ul>
  <% @payments.each do |payment| %>
    <li><%= link_to payment["description"], controller: "payments", action: "show", id: payment["id"] %></li>
  <% end %>
</ul>

<%= link_to "Voltar", controller: "clients", action: "index" %>